:root {
  --dark-bg-color: #202D36;
  --dark-text-color: #FFF;
  --article-color: #2b3743;
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  background-color: var(--dark-bg-color);
  color: var(--dark-text-color);
  transition: background-color 0.4s;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  background-color: var(--dark-bg-color);
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  color: #FFF;
  border: 2px solide var(--dark-bg-color);
  border-radius: 4px;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: #fff;
  color: var(--dark-bg-color);
}

.count p {
  margin: 0 20px;
}

/* Continents */
.continents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 15px 0;
}

.continents li {
  padding: 0 10px;
}

.continent-radio {
  margin: 0 5px;
}

/* Countries */
.countries {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding: 20px;
}

.countries article img {
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.countries .details {
  background-color: var(--article-color);
  padding: 40px 20px;
  margin-top: -20px;
  border-radius: 0 0 5px 5px;
}

.countries .details h3 {
  padding-bottom: 10px;
}

.countries .details h4 {
  margin: 10px 0;
}

.countries .details h4 span {
  font-weight: 300;
}

/* Header */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--article-color);
    padding: 10px 20px;
}

/* Filter */
.filter {
  display: flex;
  flex-direction: column;
 justify-content: space-between;
  padding : 20px;
}

.filter .form-control {
  width: 100%;
}

.filter .form-control input{
  font-family: inherit;
  background-color: var(--article-color);
  border: none;
  outline: none;
  padding: 12px;
  border-radius: 5px;
  color: #FFF;
  letter-spacing: 0.5px;
  width: 100%;
  margin: 0 0 30px;
}

.filter .form-control input::placeholder{
  color: #FFF;
}

/* Responsive design */
@media (min-width: 640px) {
  .countries {
    grid-template-columns: repeat(2, 1fr);
  }

  .countries .details {
    margin: -10px 0 0;
  }
}

@media (min-width: 768px) {
  .filter {
    flex-direction: row;
  }
  
  .filter .form-control{
    width: auto;
  }

  .filter .form-control input {
    width: auto;
    margin: 0;
  }

  .filter .region-filter {
    width: auto;
  }

  .countries {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .header, .filter, .grid {
    padding: 20px 100px;
  }

  .countries {
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
  }
  
}

@media (min-width: 1366px) {
  .countries {
    grid-template-columns: repeat(4, 1fr);
  }
}